.chatbox {
  height            : 90vh;
  display           : flex;
  flex-direction    : column;
  background-color  : #607D8D;
  width             : 45%;
  color             : black;
  border-radius     : 8px;
  padding           : 0px 0px;
  margin            : 10px;
}
