.feature1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow:auto;
  width:80%;
  height:100px;
  background-color:$color-primary;
}

.statemsg {
  display:flex;
  justify-content:center;
  width:90%;
}
