.chat-input {
  overflow              : hidden;
  padding               : 0 40px;
  background-color      : $color-secondary;
  input[type="text"] {
    width               : 100%;
    margin-left         : -20px;
    margin-right        : -20px;
  }
}

input[type="text"] {
  background-color      : $color-secondary;
  margin                : 10px 0;
  height                : 8vh;
  font-size             : 22px;
  color                 : black;
  width                 : 60%;
  border-width          : 0px;
  border-bottom         : solid $color-primary;
  padding               : 0 20px;
}

input:focus{
  outline               : none;
}
