.message p {
  border-radius        : 5px;
  padding              : 8px; 
  margin               : 8px 12px;
  max-width            : 80%;
  position             : relative; 
}

.left p { 
  background-color     : #ccc; 
  float                : left; 
}

.right p { 
  background-color     : #33c; 
  color                : #FFFFFF; 
  float                : right;
}