$color-primary    : rgb(52,61,78) !default; // #343d4e
$color-secondary  : rgb(96,125,141);        // #607d8d
$color-tertiary   : rgb(83, 95, 116);       // #535f74
$color-quaternary : rgb(102,120,134);       // #667886